body
{
    margin:0px;
    background-color:#F071AB;
}
.header{
    position:relative;
    padding:15px;
    height:90px;
    border: 1px solid #E6076C;
}

.header img{
    float:left;
    padding:0px;
    height:80px;
    width:100px;
}
.header .name{
    position:absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family:Courier New;
    font-weight:bold;
    font-size:50px;
    color:#33AFFF;
}

.butt{
    float: right;
    position:absolute;
    top:30%;
    right:2px;	
}

.butt input{
    height: 30px;
    width: 70px;
    padding:0px;
    margin:5px;
    color:#33AFFF;
    float: right;
    font-weight: bold;
}
.column.side
{
    display:block;
    float:left;
    width:30%;
    height:450px;
    border:1px solid  #E6076C;
    background-color:#F09FC3;
}

.column.content
{
    float: right;
    width:69.666%;
    height:450px;
    border:1px solid  #E6076C;
    background-image:url(" file:///home/stl-004/Desktop/test2/images/bg-flower-2.jpg");
}

.column.side ul
{
    list-style-type: none;
    padding:0;
    overflow:hidden;
}
.column.side ul li a
{
    display:block;
    font-family:'Franklin Gothic Medium';
    font-size: 20px;
    color:#A533FF;
    font-weight: bold;
    text-decoration: none;
    text-align:center;
    height:40px;
    width:100%;
    margin:auto;
}

.column.side li a:hover
{
    background-color:#CB4F86;
}

.column.side li a:clicked
{
    background-color: #E62507;
}
.footer
{
    text-align:center;
    margin-top: 450px;
    height:20px;
    width:99.888%;
    border: 1px solid #E6076C;
}

.footer marquee
{
    color:#CB4F86;
}

.table
{
    color:#900C3F  ;
    height:600px;
    width:100%;
    background-image: url("file:///home/stl-004/Desktop/test2/images/flowers-background-butterflies-beautiful-87452.jpeg");
    background-repeat:repeat-y;
}

tr td{
    font-size:20px;
}

tr td:hover
{
    background-color:#FF3368;
}

.form
{
    background-image: url("file:///home/stl-004/Desktop/test2/images/flowers-background-butterflies-beautiful-87452.jpeg");
    text-align: center;
    height:620px;
    width:100%;
}

.form input
{
    margin-left:50px;
    height:30px;
    width:200px;
}

.image1 img
{
    height:40%;
    width:30%;
    padding:10px 10px 10px 10px;
}

.image1 img:hover
{
    opacity:0.5;
}

.list{
    background-color: #4FB227;
    height:580px;
    width:100%;
}
    
.list ol
{
    counter-reset:section;
    list-style-type: none;
    
}

.list ol li
{
    font-family:'Lucida Sans Unicode';
    font-size:16px;
}

.list li::before
{
    counter-increment:section;
    content:counters(section,".") " ";
}
    
